# Vim
*.sw[op]
_vim/bundle
_vim/doc
_vim/plugin
_vim/autoload/plug.vim.old
_vim/.netrwhist

# Python
*.py[ocd]
.ropeproject

# Javascript
node_modules
bower_components
npm-debug.log
package-lock.json

# CSS
.sass-cache

# Mutt
/_mutt/aliases
/_mutt/bodies
/_mutt/gpg.rc
/_mutt/headers
/_mutt/signatures
/_mutt/tmp

# Other stuff
_fonts/.uuid
_fonts/typecatcher/.uuid
